/* GENERAL PAGE SETTINGS */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* HEADER STYLING */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

.left-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-icon {
    font-size: 22px;
    cursor: pointer;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    width: 400px;
    border: 1px solid #ccc;
    border-right: none;
}

.search-bar button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.right-header {
    display: flex;
    gap: 15px;
    font-size: 20px;
}

.icon, .profile {
    cursor: pointer;
}

/* LAYOUT: SIDEBAR + VIDEO GRID */
.content {
    display: flex;
    flex: 1;
}

/* SIDEBAR */
.sidebar {
    width: 200px;
    background: white;
    padding: 15px;
    border-right: 1px solid #ddd;
}

.sidebar-item {
    padding: 10px 0;
    cursor: pointer;
}

.sidebar-item:hover {
    background: #eee;
    padding-left: 5px;
}

/* GRID OF VIDEOS */
.videos {
    flex: 1;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
}

/* VIDEO CARD */
.video-card {
    display: flex;
    flex-direction: column;
}

.thumbnail {
    height: 150px;
    background: #d2d2d2;
    border-radius: 10px;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.video-info {
    margin-top: 8px;
}

.title {
    font-size: 15px;
    font-weight: bold;
}

.channel {
    font-size: 13px;
    color: gray;
}
